

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
body {
    background-color: #222222;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
    display: table;
}

.container{
    display: table;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

header {
    font-family: fantasy, cursive, "Times New Roman", serif;
    color: red;
    background-color: #000000;
    border: 0;
    padding: .5em .25em 0 1em;
    margin: 0;
}


.nav-tabs{
    padding: 0 2.5em 0 0;
    margin: 0;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    /*background-color: yellow;*/
}

header a{
    color: red;
    text-decoration: none;
}

.brand a:hover{
    color: red;
    text-decoration: none;
}

.brand a:visited{
    color: red;
}

header li{
    font-size: 1.25em;
    /*background-color: yellow;*/
}

header div{
    padding: 0;
    margin: 0;
    border: 0;
}

header .navbar{
    background-color: #000000;
    height: 9em;

}

header .navbar .navbar-tabs{
    border: none;
}

header .navbar .navbar-nav{
    position: absolute;
    bottom: 0;
    right: 0;
}

header a h1 {
    font-size: 2.5em;
    border: 0;
    padding: .33em 0 0 0;
    margin: 0;
    line-height: 1em;
}
header a p {
    font-size: 1.25em;
    border: 0;
    margin: 0;
    line-height: 1em;
}

section {
    background-color: #daeaff;
    padding: 3em 1em 3em 1em;
    margin: 0 1em 1em 1em;
    position: relative;
}

/*section h2{
    font-family: fantasy, cursive, "Times New Roman", serif;
    text-align: center;
    font-size: 6em;
    padding: 0 0 0 0;
    line-height: .90em;
}*/

footer {
    background-color: black;
    color: #cccccc;
    padding: 2em 0 2em 0;
    margin: 0 0 -10em 0;
    height: 10em;
    /*display: table-row;
    /*position:relative;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*left: 0;
    right: 0;*/
}



.home section h2{
    font-family: fantasy, cursive, "Times New Roman", serif;
    text-align: center;
    font-size: 6em;
    padding: 0 0 0 0;
    line-height: .90em;
}


.home .subheader{
    font-family: fantasy, cursive, "Times New Roman", serif;
    text-align: center;
    font-size: 2em;
    line-height: 0em;
    padding: 0 6em 0 0;
}

.home h3{
    padding: 5em 0 0 0;
}

.myself{
    color: #28a4c9;
}

.hometext{
    width: 70%;
    padding: 0 0 10em 0;

}

.homepic{
    width: 30%;
    position: relative;
    float: right;
    margin: .75em 0 0 0;
}

.mypic {
    margin: 5em 0 0 5em;
    height: 18em;
    width: 18em;
}